{% extends 'base.html.twig' %}

{% block title %}Catégorie{{ category.name }}
{% endblock %}

{% block body %}
	<button type="button" class="btn btn-dark mb-4 mt-4">
		<a href="{{ path("category_index") }}">Retour à la liste des catégories</a>
	</button>

	<h1 class="text-center">Série de la catégorie
		{{category.name}}
	</h1>
</br>

{% for Program in Programs %}
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-4">
				<div class="card text-white bg-secondary mb-3" style=" max-width-20rem;">
					<div class="card-header">
						<h2 class="card-title">{{Program.title}}</h2>
					</div>
					<p class="card-text mt-4">{{Program.synopsis}}</p>
					<img class="align-self-start mr-3" width="410" height="300" src="{{ asset('build/' ~ Program.poster) }}" alt="{{ Program.title }} poster">
					<button type="button" class="btn btn-dark mb-4 mt-4">
						<a href="{{ path("Program_show", {id: Program.id}) }}">Voir la fiche</a>
					</button>
				</div>
			</div>
		</div>
		{% else %}Aucune série trouvée.
	{% endfor %}
{% endblock %}
