{% extends "base.html.twig" %}

{% block body %}
	{{ form_start(form) }}
	<div class="my-custom-class-for-errors">
		{% if form.title is null %}
			{{ form_errors(form) }}
		{% endif %}
	</div>

	<fieldset>
		<legend class="d-flex justify-content-center mt-5 pt-5">Ajouter une série</legend>
		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-3 pt-5">
				{{ form_row(form.title) }}
			</div>
		</div>

		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-3">
				{{ form_row(form.synopsis) }}
			</div>
		</div>

		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-3">
				{{ form_row(form.poster) }}
			</div>
		</div>

		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-3">
				{{ form_row(form.category) }}
			</div>
		</div>

		<div class="row mb-3 d-flex justify-content-center">
			<div class="col-3">
				{{ form_row(form.submit) }}
			</div>
		</div>
	</fieldset>
	{{form_end(form)}}
{% endblock %}
