{% extends 'base.html.twig' %}
{% block body %}
	<button type="button" class="btn btn-dark mb-4 mt-4">
		<a href="{{ path("program_show", { id: program.id }) }}">
			Retour à la fiche des saisons de
			{{program.title}}
		</a>
	</button>

	<div class="row justify-content-around mt-4">
		<div class="col-4 card mb-3">
			<h3 class="card-header">Détail de la saison
				{{ season.number }}
				de
				{{ program.title }}</h3>
			<div class="card-body">
				<ul>
					<li class="list-group-item">
						<strong>Résumé de la saison :</strong>
					</li>
				</br>
				{{season.description}}
			</li>
		</ul>
	</div>
	<h5 class="card-subtitle text-muted text-align-justify">Liste des épisodes</h5>
	{% for episode in season.episodes %}
		<div class="card-body text-align-justify" style=" width: 100%;">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<a href="{{ path("program_episode_show", { programId: program.id, seasonId: season.id, episodeId: episode.id }) }}">Episode
						{{episode.number}}
						:
					</a>
					{{episode.title}}

				</li>
			</ul>
		</div>
	{% endfor %}
</div>{% endblock %}
