{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<button type="button" class="btn btn-dark mb-4 mt-4">
		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	</button>

	<div class="row justify-content-around">
		<div class="col-4 card mb-3">
			<h3 class="card-header">Liste des saisons de
				{{ program.title }}</h3>
			<div class="card-body">
				<h4 class="card-title">Catégorie :
					{{ program.category.name }}</h4>
			</br>
			<h5 class="card-subtitle text-muted">Résumé de la série :
			</h5>
		</br>
		<h6>{{ program.synopsis }}</h6>
	</div>
	<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
	<div class="card-body">
		<ul class="list-group list-group-flush">
			{% for season in program.seasons %}
				<li class="list-group-item">
					<a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id } ) }}">
						Saison
						{{ season.number }}
					</a>
				</li>
				<li class="list-group-item">Date de sortie :
					{{season.year}}</li>
				<li class="list-group-item">Résumé de la saison :
					{{ season.description }}</li>
			{% endfor %}
		</ul>
	</div>
</div></div>{% endblock %}
