{% extends 'base.html.twig' %}

{% block title %}Série #{{ Program.id }}
{% endblock %}

{% block body %}
	<button type="button" class="btn btn-light mb-4 mt-4">
		<a href="{{ path('Program_index') }}">
			Retour à la liste des Programmes
		</a>
	</button>

	<div class="row justify-content-around">
		<div class="col-4 card mb-3">
			<h3 class="card-header">Liste des saisons de
				{{ Program.title }}</h3>
			<div class="card-body">
				<h4 class="card-title">Catégorie :
					{{ Program.category.name }}</h4>
			</br>
			<h5 class="card-subtitle text-muted">Résumé de la série :
			</h5>
		</br>
		<h6>{{ Program.synopsis }}</h6>
	</div>
	<img class="align-self-start mr-3" width="500" height="300" src="{{ asset('build/' ~ Program.poster) }}" alt="{{ Program.title }} poster">
	<div class="card-body">
		<ul class="list-group list-group-flush">
			{% for season in Program.seasons %}
				<li class="list-group-item">
					<a href="{{ path("Program_season_show", { ProgramId: Program.id, seasonId: season.id } ) }}">
						Saison
						{{ season.number }}
					</a>
				</li>
				<li class="list-group-item">Date de sortie :
					{{season.year}}</li>
				<li class="list-group-item">Résumé de la saison :
					{{ season.description }}</li>
			{% endfor %}
		</ul>
	</div>
</div></div>{% endblock %}
